body {
    font-family: 'Rethink Sans', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Ändere header*/
#headerform {
    background-color: darkgreen;
    color: white;
    text-align: top;
    padding: 10px;
}

#login {
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    margin-bottom: 8px;
}

#loginForm input {
    padding: 10px;
    margin-bottom: 15px;
}

#loginForm input[type="submit"] {
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}

.error-message {
    display: block; /* oder inline-block, je nach Bedarf */
    color: red;
    background-color: #ffdada;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.error-message .close-btn {
    float: right;  /* Positioniert das X rechts */
    font-weight: bold;  /* Macht das X fett */
    cursor: pointer;  /* Verändert den Cursor, um Interaktivität zu signalisieren */
}

#error-checkbox:checked + .error-message {
    display: none;
}

.alert {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.alert-success {
    background-color: #4CAF50; /* Grün */
}

.alert-info {
    background-color: #2196F3; /* Blau */
}

.alert-warning {
    background-color: #ff9800; /* Orange */
}

.alert-danger {
    background-color: #f44336; /* Rot */
}
