/* Formular-Container-Stil */
.form-container {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Stil für Überschriften in Formularen */
.form-container h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Stil für Formularfelder */
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Stil für das Absenden von Formularen */
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Zusätzlicher Stil für Label */
label {
    display: block;
    margin-top: 10px;
}

/* Stil für den Container */

/* Anpassungen für kleinere Bildschirme */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    header {
        text-align: center;
    }
}
