body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.restaurant-list, .menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    }
    
.restaurant, .menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
    
.restaurant h2, .menu-item h3 {
    margin: 0 0 10px 0;
    color: #333;    
}
    

.restaurant p, .menu-item p {
    margin: 0;
    color: #666;
}
    

.restaurant a {
    display: inline-block;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
    
    
.restaurant a:hover {
    background-color: #0056b3;
}


.plus-sign {
        float: right;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        border: 1px solid gray;
        padding: 5px;
        border-radius: 50%;
        background-color: wheat;
}


.plus-sign:hover {
        color: black;
        border-color: yellow;
}



.cart-icon-container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;
    }

.cart-icon {
    font-size: 24px;
    cursor: pointer;
    color: #333; /* Farbe des Einkaufswagensymbols */
    border: 1px solid #333; /* Umrandung des Symbols */
    border-radius: 50%; /* Kreisform */
    padding: 10px; /* Platz um das Symbol herum */
}

.cart-icon:hover {
    background-color: #333; /* Hintergrundfarbe bei Hover */
    color: #fff; /* Farbe bei Hover */
}


