{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="../static/restaurant.css">
{% endblock %}

{% block title %}Restaurant-Liste{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-title">Verfügbare Restaurants</h1>
        <div class="restaurant-list">
            {% for restaurant in items %}
                <div class="restaurant">
                    <h2>{{ restaurant[0] }}</h2>
                    <p class="description">{{ restaurant[3] }}</p>
                    <a href="{{ url_for('restaurant_items', restaurant_id=restaurant[8])}}" class="btn">Menü anzeigen</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
