<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap" rel="stylesheet">
    <title>Lieferspatz-Login</title>
</head>
<body>

    <header>
        <form id="headerform", style="margin-bottom: 500px;">
            Lieferspatz
        </form>
    </header>

    <div id="login">
        <h2>Anmelden</h2>
        <form id="loginForm" onsubmit="checkLogin(event)">
            <label for="username">Vorname:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Passwort:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Einloggen">
        
        
    </form>
    <button onclick="window.location.href = 'register.html';" id="myButton" class="float-left submit-button" >Registrieren</button>
        
   </div>

   <script>
        
        // Simple Check (Ist der User bereits in DB?)
        function checkLogin(event) {
            event.preventDefault();

            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            if (isUserRegistered(username, password)) {
                alert("Einloggen war erfolgreich!");
                window.location.href = "main.html";
            } else {
                alert("Falscher Nutzername oder Passwort.");
            }
        }

        
        
            
            
        
        // überprüfe mit Datenbank 
        function isUserRegistered(username, password) {
             return (username == "user" && password == "pass");
        }

   </script>

</body>
<!-- Nötig, um Bilder einzufügen: IonIcons Framework -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>