<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap" rel="stylesheet">
    <title>Lieferspatz Online Service</title>
</head>
<body>
     <div class="sidebar">
        <h1 class="logo">Lieferspatz</h1>

        <div class="sidebar-elements">
            <a href="#"><ion-icon name="Home"></ion-icon>Home</a>
            <a href="#"><ion-icon name="receipt-outline"></ion-icon>Lieferstatus</a>
            <a href="#"><ion-icon name="wallet-outline"></ion-icon>Geldtasche</a>
            <a href="#"><ion-icon name="storefront-outline"></ion-icon>Über uns</a>
        </div>

        <div class="logout">
            <a href="#"><ion-icon name="log-out-outline"></ion-icon>Ausloggen</a>
        </div>
     </div>


     <div class="main">
        <div class="main-navbar">
            <!-- Suchleiste-->
            <div class="search">
                <input type="text" placeholder="Was suchen Sie?">
                <button class="search-btn">Suche</button>
            </div>
            <!-- Profilsymbol und Einkaufswagensymbol -->
            <div class="profile-icons">
                <a class="user" href="#"><ion-icon name="person-outline"></ion-icon></a>
                <a class="cart" href="#"><ion-icon name="cart-outline"></ion-icon></a>
            </div>
        </div>

        <!-- Hauptinhalt -->
        <div class="main-content">
            <div class="main-header">
                <h2 class="main-title">Empfehlungen</h2>
                <div class="main-arrow">
                    <ion-icon class="back" name="chevron-back-circle-outline"></ion-icon>
                    <ion-icon class="next" name="chevron-forward-circle-outline"></ion-icon>
                </div>
            </div>

            <!-- Essensliste -->
            <div class="highlight-wrapper">
                <div class="highlight-card">
                    <img class="highlight-img" src="../frontend/images/burger.jpg">
                    <div class="highlight-desc">
                        <h4>Saftiger Burger</h4>
                        <p>8.00€</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- TODO -->
        <!-- Hauptmenüs / Bestellen -->
        <div class="main-menus">
            <!-- Kategorien-->
            <div class="main-category">
                <div>
                    <h2 class="main-title">Menü <br>Kategorie</h2>
                    <div class="main-arrow">
                        <ion-icon class="back-menus" name="chevron-back-circle-outline"></ion-icon>
                        <ion-icon class="next-menus" name="chevron-forward-circle-outline"></ion-icon>
                    </div>
                </div>
                <div class="category-wrapper">
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="restaurant-outline"></ion-icon>
                        </div>
                        <p>Alle Menüs</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="fast-food-outline"></ion-icon>
                        </div>
                        <p>Burger</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="pizza-outline"></ion-icon>
                        </div>
                        <p>Pizza</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="wine-outline"></ion-icon>
                        </div>
                        <p>Wein</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="ice-cream-outline"></ion-icon>
                        </div>
                        <p>Eis</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="cafe-outline"></ion-icon>
                        </div>
                        <p>Kaffee</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="fish-outline"></ion-icon>
                        </div>
                        <p>Fisch</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="nutrition-outline"></ion-icon>
                        </div>
                        <p>Gesund</p>
                    </div>
                </div>
            </div>
            <hr class="divider">
        </div>
     </div>
                    



</body>
<!-- Nötig, um Bilder einzufügen: IonIcons Framework -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>