<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap" rel="stylesheet">
    <title>Lieferspatz Online Service</title>
</head>
<body>
    <!-- Sidebar -->
     <div class="sidebar">
        <h1 class="logo">Lieferspatz</h1>
        <div class="sidebar-elements">
            <a href="#"><ion-icon name="Home"></ion-icon>Home</a>
            <a href="#"><ion-icon name="receipt-outline"></ion-icon>Lieferstatus</a>
            <a href="#"><ion-icon name="wallet-outline"></ion-icon>Geldtasche</a>
            <a href="#"><ion-icon name="storefront-outline"></ion-icon>Über uns</a>
        </div>

        <div class="logout">
            <a href="#"><ion-icon name="log-out-outline"></ion-icon>Ausloggen</a>
        </div>

        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit"><ion-icon name="log-out-outline"></ion-icon>Ausloggen</button>
        </form>
     </div>


     <!-- Suche und Icons -->
     <div class="main">
        <div class="main-navbar">
            <!-- Suchleiste-->
            <div class="search">
                <input type="text" placeholder="Was suchen Sie?">
                <button class="search-btn">Suche</button>
            </div>
            <!-- Profilsymbol und Einkaufswagensymbol -->
            <div class="profile-icons">
                <a class="user" href="#"><ion-icon name="person-outline"></ion-icon></a>
                <a class="cart" href="#"><ion-icon name="cart-outline"></ion-icon></a>
            </div>
        </div>

        

        <!-- Hauptmenü / Bestellen -->
        <div class="main-menus">
            <!-- Kategorien-->
            <div class="main-category">
                <div>
                    <h2 class="main-title">Menü <br>Kategorie</h2>
                    <div class="main-arrow">
                        <ion-icon class="back-menus" name="chevron-back-circle-outline"></ion-icon>
                        <ion-icon class="next-menus" name="chevron-forward-circle-outline"></ion-icon>
                    </div>
                </div>
                <div class="category-wrapper">
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="restaurant-outline"></ion-icon>
                        </div>
                        <p>Alle Menüs</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="fast-food-outline"></ion-icon>
                        </div>
                        <p>Burger</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="pizza-outline"></ion-icon>
                        </div>
                        <p>Pizza</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="wine-outline"></ion-icon>
                        </div>
                        <p>Getränke</p>
                    </div>
                    <div class="category-card">
                        <div class="category-icon">
                            <ion-icon name="fish-outline"></ion-icon>
                        </div>
                        <p>Fisch</p>
                    </div>
                </div>
            </div>
            <hr class="divider">
            
            <div class="main-detail">
                <h2 class="main-title">Wähle deine Bestellung</h2>
                <div class="detail-wrapper">
                    <div class="detail-card">
                        <img class="detail-img" src="C:\Users\VolkanX\Desktop\DBP\frontend\images\burgers\hamburger.jpg">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Hamburger</h4>
                                <p class="detail-sub">Der Hamburger ist unsere Empfehlung für neue Kunden</p>
                                <p class="price">4,99€</p>
                            </div>
                            <ion-icon class="detail-favorites" name="bookmark-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="detail-card">
                        <img class="detail-img" src="C:\Users\VolkanX\Desktop\DBP\frontend\images\burgers\cheeseburger.jpg">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Cheeseburger</h4>
                                <p class="detail-sub">Tauche ein in einen kulinarischen Traum mit unserem Cheeseburger – eine unwiderstehliche Fusion aus saftigem Rindfleisch, geschmolzenem Käse und sorgfältig ausgewählten Zutaten.</p>
                                <p class="price">7,99€</p>
                            </div>
                            <ion-icon class="detail-favorites" name="bookmark-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="detail-card">
                        <img class="detail-img" src="C:\Users\VolkanX\Desktop\DBP\frontend\images\burgers\surfandturfburger.jpg">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Surf and Turf Lobster Burger</h4>
                                <p class="detail-sub">Ein Surf & Turf-Burger der Extraklasse, der die Zartheit von Hummerfleisch mit dem saftigen Geschmack von hochwertigem Rinderfilet kombiniert. Der Burger wird mit Avocado, einer feinen Zitronenaioli und frischem Rucola verfeinert. Eine Empfehlung unsererseits für besonders Hungrige</p>
                                <p class="price">9,99€</p>
                            </div>
                            <ion-icon class="detail-favorites" name="bookmark-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="detail-card">
                        <img class="detail-img" src="C:\Users\VolkanX\Desktop\DBP\frontend\images\burgers\beefburger.jpg">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Beef Burger</h4>
                                <p class="detail-sub">Unser Beef Burger mit Triple Gurken ist ein zeitloser Favorit für alle Liebhaber von herzhaftem Fleischgenuss, Die Grundlage bildet unser hochwertiges Rindfleisch, sorgfältig ausgewählt für seinen kräftigen Geschmack und seine saftige Konsistenz.</p>
                                <p class="price">12,99€</p>
                            </div>
                            <ion-icon class="detail-favorites" name="bookmark-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="detail-card">
                        <img class="detail-img" src="C:\Users\VolkanX\Desktop\DBP\frontend\images\burgers\drinks.png">
                        <div class="detail-desc">
                            <div class="detail-name">
                                <h4>Drinks</h4>
                                <p class="detail-sub">Selbstverständlich dürfen die Getränke nicht fehlen. Wir bieten wir für unsere Kunden auch eine Auswahl nach Wahl, die sorgfältig zusammengestellt wurden, um deinen Durst zu stillen</p>
                                <p class="price">2,99€</p>
                            </div>
                            <ion-icon class="detail-favorites" name="bookmark-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
                    
                    



</body>
<!-- Nötig, um Bilder einzufügen: IonIcons Framework -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>