<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Meine Webseite{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container header-container">
            <ul class="nav-links">
                <li><a href="{{ url_for('Rmain') }}">Startseite</a></li>
                <li><a href="{{ url_for('view_restaurant_orders') }}">Bestellungen</a></li>
                <!-- Weitere Links nach Bedarf -->
            </ul>
            
            <!-- Logout-Button -->
            <div class="logout-container">
                <form action="{{ url_for('logout') }}" method="post">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>

        </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    <div class="container">
        {% block content %}
        <!-- Inhalt der spezifischen Seite -->
        {% endblock %}
    </div>
</body>
</html>
