<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap" rel="stylesheet">
    <title>Lieferspatz-Registrierung</title>
</head>
<body>

    <header>
        <form id="headerform", style="margin-bottom: 500px;">
            Lieferspatz
        </form>
    </header>

    <div id="login">
        <h2>Registrieren</h2>
        <form id="loginForm", action="{{ url_for('addrec') }}" method="POST">
            <label for="vorname">Vorname:</label>
            <input type="text" id="username" name="vorname" required>

            <label for="password">Nachname:</label>
            <input type="text" id="username" name="nachname" required>
            
            <label for="password">Passwort:</label>
            <input type="password" id="password" name="password" required>

            <label for="username">Adresse:</label>
            <input type="text" id="username" name="adresse" required>

            <input type="submit" value="Registrieren">
            </form>
    </div>

</body>
</html>