<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap" rel="stylesheet">
    <title>Lieferspatz-Login</title>
</head>
<body>


    <div id="login">
        <h2>Als Restaurant registrieren</h2>
        <form id="loginForm" action="{{ url_for('Raddrec') }}" method="POST">
            <label for="vorname">Name:</label>
            <input type="text" id="vorname" name="vorname" required>

            <label for="password">Passwort:</label>
            <input type="password" id="password" name="password" required>

            <label for="adresse">Adresse:</label>
            <input type="text" id="adresse" name="adresse" required>

            <label for="description">Beschreibung:</label>
            <input type="text" id="description" name="description" required>

            <label for="plz">Lieferradius (PLZ, getrennt durch Komma):</label>
            <input type="text" id="plz" name="plz" placeholder="10115, 10439, 10999" required>

            <label for="openTime">Öffnungszeit (HH:MM):</label>
            <input type="time" id="openTime" name="openTime" required>

            <label for="closeTime">Schließzeit (HH:MM):</label>
            <input type="time" id="closeTime" name="closeTime" required>

            <input type="submit" value="Registrieren">
        </form>
    </div>
</body>
</html>
