<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Restaurant-Liste</title>
</head>
<body>
    <div class="container">
        <h1>Verfügbare Restaurants</h1>
        <div class="restaurant-list">
            {% for restaurant in all_data %}
            <div class="restaurant">
                <h2>{{ restaurant[0] }}</h2>
                <p>{{ restaurant[3] }}</p>
                <a href="{{ url_for('restaurant_items', restaurant_id=restaurant[5])}}">Menü anzeigen</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
