<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Rmain.css">
    <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap" rel="stylesheet">
    <title>Lieferspatz Online Service</title>
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Lieferspatz Online Service</h1>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="form-container">
            <h2>Restaurant Informationen</h2>
            <form method="post" action="/restaurant_info">
                <!-- Öffnungszeiten -->
                <label for="opening_hours">Öffnungszeiten (von/bis):</label>
                <input type="text" id="opening_hours" name="opening_hours" placeholder="08:00 - 22:00" required>
    
                <!-- Lieferradius -->
                <label for="delivery_radius">Lieferradius (PLZ getrennt durch Komma):</label>
                <input type="text" id="delivery_radius" name="delivery_radius" placeholder="10115, 10439, 10999" required>
    
                <input type="submit" value="Speichern">
            </form>
        </div>
    </div>
    


    <div class="container">
        <div class="form-container">
            <h2>Artikel hinzufügen</h2>
            <form method="post" action="/add_item">
                <label for="item_name">Artikelname:</label>
                <input type="text" id="item_name" name="item_name" required>

                <label for="price">Preis:</label>
                <input type="number" id="price" name="price" step="0.01" required>

                <label for="description">Beschreibung:</label>
                <textarea id="description" name="description" required></textarea>

                <input type="submit" value="Artikel hinzufügen">
            </form>
        </div>
    </div>

    
    <div class="container">
        <div class="form-container">
            <h2>Artikel entfernen</h2>
            <form method="post" action="/remove_item">
                <label for="item_to_remove">Artikelname</label>
                <input type="text" id="item_to_remove" name="item_to_remove" required>

                <input type="submit" value="Artikel entfernen">
            </form>
        </div>
    </div>


    <div class="container">
        <div class="form-container">
            <h2>Artikel bearbeiten</h2>
            <form method="post" action="/edit_item">
                <label for="item_to_edit">Artikelname:</label>
                <input type="text" id="item_to_edit" name="item_to_edit" required>

                <label for="new_price">Neuer Preis:</label>
                <input type="number" id="new_price" name="new_price" step="0.01">

                <label for="new_description">Neue Beschreibung:</label>
                <textarea id="new_description" name="new_description"></textarea>

                <input type="submit" value="Artikel bearbeiten">
            </form>
        </div>
    </div>


    {% if restaurant_infos %}
        <div class="container">
            <h2>Gespeicherte Informationen</h2>
            <ul>
                {% for info in restaurant_infos %}
                    <li>Öffnungszeiten: {{ info['opening_hours'] }}, <br>
                        Lieferradius: {{ info['delivery_radius'] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}



    <div class="message-container">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
    
    
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
